extends hlayout

block content
  div(id="Vbody")
    h1(class="welcome") Welcome to the MalJusT Hospitality System
      textarea(rows="11" cols="89" placeholder="Type your hospitality system home page information here..." id="bodyText")
      button(class="save") Save
