doctype html
html
  head
    title MalJusT Template
    link(rel='stylesheet', href='/stylesheets/hstyle.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    header(class="header")
      div(class="brand")
        a(href="/hospitality/hHome" class="brand-logo") 
          b MalJusT Hospitality System

      nav(class="nav is-active" id="nav")
        a(href="/hospitality/hLogin" class="nav-link" class="path-nav") Patients
        a(href="/hospitality/hservices" class="nav-link" class="path-nav") Services
        a(href="/hospitality/habout" class="nav-link" class="path-nav") About
        a(href="/hospitality/hcontact" class="nav-link" class="path-nav") Contact
        a(href="/admin/adminHome" class="nav-link" id="admin" class="material-icons") home
    script(src="../public/javascripts/main.js")
    block content

    //- include footer
