extends hlayout

block content
  div(id="Vbody")
    h1(class="welcome") Services
      textarea(rows="11" cols="89" placeholder="Type your hospitality system services page information here..." id="bodyText")
      button(class="save") Save
