extends hlayout

block content
    div(id="Vbody")
        div
            h1(class="welcome" style="text-shadow: 1.5px 1.5px blue") Patients
            div(id="sbody2") 
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#1" style="text-Decoration: none; color: black;") #{ patient1 }
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#2" style="text-Decoration: none; color: black;") #{ patient2 }
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#3" style="text-Decoration: none; color: black;") Student #3
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#4" style="text-Decoration: none; color: black;") Student #4
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#5" style="text-Decoration: none; color: black;") Student #5
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#6" style="text-Decoration: none; color: black;") Student #6
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#7" style="text-Decoration: none; color: black;") Student #7
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#8" style="text-Decoration: none; color: black;") Student #8
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#9" style="text-Decoration: none; color: black;") Student #9
        
        a(href="discharge" class="button") Discharge Patient
        br
        br
        br