extends adminLayout 

block content
  div(id="body")
    h1(class="welcome") Services offered by different templates
    div(class="home")
        div(class="home1")
            h1(class="welcome") Voting System
            p(id="p1").
                The Voting System Template can be used as a voting platform in any case where a group decision or user input is required as a 
                to learn about their preferences. <br>Its main advantage is reaching a broad class of users when it is implemeted by a big enough
                organization.<br> This does not mean it wouldn't be advantageous or useful to small organizations, size is just an added benefit 
                that bigger organizations can take advantage of. Its core advantage remains being on standby to be used on occations such as<br> 
                nominations of employee of the year in an organizations with different departments.

        div(class="home2")
            h1(class="welcome") Tourism Management
            p(id="p2").
                The Back-End, which is the most important feature of this platform, also the primary reason behind this template's 
                development, has a handy feature in particular.<br> <br>For reasons that will become clear when the backend is fully explicated,
                the full festures of this template can only be implemented by organizations that are willing to implement the business logic
                behind its functionality. <br>The database structure is broken down into various nodes.
                This kind of setup can distrupt any database structure of an  
                organization that was not prepared to dissolve its existing setup.

         div(class="home1")
            h1(class="welcome") Hospitality System
            p(id="p1").
                When it comes to the front end of this template, the most important service aspect offered the centralized and uniform 
                features packaged into one platform. <br>The different integrated systems included here not only aim to cut the development<br>
                cost considerably, but also provides some of the latest and useful modules to date, leaving system administrators with 
                more important roles to worry about.<br> The goal was to divert the focus of administrators to more
                pressing matters and leave website trouble shooting to.<br><br>

        div(class="home2")
            h1(class="welcome") Student Registration
            p(id="p2").
                The Back-End, which is the most important feature of this platform, also the primary reason behind this template's 
                development, has a handy feature in particular.<br> <br>For reasons that will become clear when the backend is fully explicated,
                the full festures of this template can only be implemented by organizations that are willing to implement the business logic
                behind its functionality. <br>The database structure is broken down into various nodes.
                This kind of setup can distrupt any database structure of an  
                organization that was not prepared to dissolve its existing setup.