extends adminLayout 

block content
    div(id="body")
        div 
            h1(id="about") Access to various templates
        div
            p(id="text").
                The MalJusT Template was developed as a way to provide management system developers 
                a skeleton structure that consists of some of the most common features that are 
                included in most online management systems. This is a full stack template that 
                consists of a diverse set of features in the front-end and a back-end that 
                connects to distributed database. Considering that there various templates 
                available online differing only in frameworks and look & feel(design), intended 
                organizations that will benefit most from this particular template are the ones 
                willing and interested in implementing the business logic behind the distributed database logic.