doctype html
html
  head
    title MalJusT Template
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
    //- script(src="./public/javascripts/main.js")
  body
    header(class="header")
      div(class="brand")
        a(href="/admin/adminHome" class="brand-logo") 
          b MalJusT Template
          //- img(src="y-themes-logo-blue.png" alt="" width="100px")
        div(class="nav-burger" id="nav-burger")
          //- img(src="hamburger-button.png" alt="Menu")
        div(class="nav-cancel is-active" id="nav-cancel")
          img(src="cancel-button.png" alt="Cancel")

      nav(class="nav is-active" id="nav")
        div(class="dd") 
          a(href="adminServices" class="nav-link" class="dd-btn")
            b Templates
          div(class="dd-content")
            a(href="/voting/vHome" class="dd-link") Voting System
            a(href="/hospitality/hHome" class="dd-link") Hospitality System
            a(href="/studentReg/shome" class="dd-link") Student Registration
            a(href="/tourismMan/thome" class="dd-link") Tourism Management
        a(href="adminServices" class="nav-link" class="path-nav") Services
        a(href="adminAbout" class="nav-link" class="path-nav") About
        a(href="/admin" class="nav-link" id="admin" class="material-icons") logout
    block content

    //- include footer
