extends layout

block content
  div(id="body")
    div 
      h1(id="about") About Us
    div
      p(id="text").
          The MalJusT Template was developed as a way to provide management system developers 
          a skeleton structure that consists of some of the most common features that are 
          included in most online management systems. This is a full stack template that 
          consists of a diverse set of features in the front-end and a back-end that 
          connects to distributed database. Considering that there various templates 
          available online differing only in frameworks and look & feel(design), intended 
          organizations that will benefit most from this particular template are the ones 
          willing and interested in implementing the business logic behind the distributed database logic.

      div(class="service")
            div(class="service1")
                p(id="p1").
                    When it comes to the front end of this template, the most  <br> important service aspect offered the centralized and uniform <br> 
                    features packaged into one platform. The different integrated <br>systems included here not only aim to cut the development
                    cost considerably, but also provides some of the latest and useful modules to date, leaving system administrators with
                    more important roles to worry about.

            div(class="service2")
                p(id="p2").
                    The Back-End, which is the most important feature of this  <br> platform, also the primary reason behind this template's <br> 
                    development, has a handy feature in particular.<br> <br>For reasons that will become clear when the backend is fully explicated,
                    the full festures of this template can only be implemented by organizations that are willing to implement the business logic
                    behind its functionality.<br>
                a(href="/t&c" id="sev-link") 
                    b T&Cs apply

      div(class="service")
            div(class="service3")
                p(id="p3").
                    When it comes to the front end of this template, the most  <br> important service aspect offered the centralized and uniform <br> 
                    features packaged into one platform. The different integrated <br>systems included here not only aim to cut the development
                    cost considerably, but also provides some of the latest and useful modules to date, leaving system administrators with
                    more important roles to worry about.

            div(class="service4")
                p(id="p4").
                    The Back-End, which is the most important feature of this  <br> platform, also the primary reason behind this template's <br> 
                    development, has a handy feature in particular.<br> <br>For reasons that will become clear when the backend is fully explicated,
                    the full festures of this template can only be implemented by organizations that are willing to implement the business logic
                    behind its functionality.<br>
                    