doctype html
html
  head
    title MalJust Template
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- script(src="/javascripts/mainForm.js") 
    div(class="admin")
      a(href="/" class="brand-logo" id="admin-logo") 
        b MalJusT Template
    div(id="form")
      form(id="myform" action="/admin/adminHome" method="get")
        b 
          a(href="/" id="close") X
        br
        input(type="text", placeholder="Username" class="input" id="username" autofocus required)
        br
        input(type="password", placeholder="Password" class="input" id="password" required)
        br
        input(type="submit" value="Submit" class="submit" id="submit")
        <br>
        <br>
        a(href="/newPassword" class="forgotPassword") Forgot Password 
        script.
          username = document.getElementById("username");
          password = document.getElementById("password");
          form = document.getElementById("myform");
          button = document.getElementById("submit");
          var submits = 0;
          document.addEventListener('submit', ()=> {
            if(username.value !== 'admin' || password.value !== 'User@2023'){
              form.action = "#";
              username.value = password.value = null;
              submits++;
              if(submits > 3){
                alert("Too many atempts, account blocked!");
                button.setAttribute('disabled', true);
              }else{
                alert("Invalid credentials!");
              }
            }else {
              alert("                                                 Welcome!");
              form.action = "/admin/adminHome";
            }
          });

block content