doctype html
html
  head
    title MalJust Template
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- script(src="/javascripts/mainForm.js") 
    div(class="admin")
      a(href="/" class="brand-logo" id="admin-logo") 
        b MalJusT Template
    div(id="form")
      form(id="myform" action="/admin/adminHome" method="get")
        b 
          a(href="/" id="close") X
        br
        input(type="text", placeholder="Username" class="input" required)
        br
        input(type="password", placeholder="Password" class="input" required)
        br
        input(type="submit" value="Submit" class="submit" onsubmit ="admin/adminLayout")
        <br>
        <br>
        a(href="/newPassword" class="forgotPassword") Forgot Password 

block content