doctype html
html
  head
    title MalJust Template
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="admin")
      a(href="/" class="brand-logo" id="admin-logo") 
        b MalJusT Template
    div 
      form 

block content