extends layout

block content
  div(id="body")
    h1(id="contact")=title
    div(class="service")
            div(class="service1")
                p(id="p1").
                    Tel&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: +266 578 881 55 <br><br>
                    Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: templates@maljust.com <br><br>
                    Address&nbsp;&nbsp;: Maseru 100 Mohalalitoe <br><br>
                    Fax&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 2232 4469<br><br>
                    Website&nbsp;&nbsp;&nbsp;: localhost:3000<br><br>
                    Platforms: LinkedIn, Github, Facebook <br><br>
                    Git repo&nbsp;&nbsp;: github/maljust/myrepo.com<br><br>
                    Discord&nbsp;&nbsp;: //disc/env/maljust.com<br><br><br>


            div(class="service2")
                iframe(src="t&c" id="mypdf")