extends layout

block content
  div(id="body")
    h1(class="welcome") Welcome to the MalJusT Template for management systems
    div(class="home")
        div(class="home1")
            p(id="p1").
                When it comes to the front end of this template, the most important service aspect offered the centralized and uniform <br> 
                features packaged into one platform. The different integrated <br>systems included here not only aim to cut the development<br>
                cost considerably, but also provides some of the latest and useful modules to date, leaving system administrators with <br>
                more important roles to worry about. The goal was to divert the focus of administrators to more<br>
                pressing matters and leave website trouble shooting to.

        div(class="home2")
            p(id="p2").
                The Back-End, which is the most important feature of this platform, also the primary reason behind this template's 
                development, has a handy feature in particular.<br> <br>For reasons that will become clear when the backend is fully explicated,
                the full festures of this template can only be implemented by organizations that are willing to implement the business logic
                behind its functionality. <br>The database structure is broken down into various nodes.
                This kind of setup can distrupt any database structure of an  
                organization that was not prepared to dissolve its existing setup.