extends layout

block content
  div(id="body")
    h1 Welcome to the MalJusT Template for management systems
    div(id="text")
      div
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Voluptas dolorum eos facilis neque quod possimus quasi, <br> atque tenetur ad, maiores recusandae aut, pariatur molestiae <br> temporibus quo. Animi, a? Praesentium, impedit? 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Tenetur, vel nulla quibusdam excepturi possimus earum magni <br> eaque esse nesciunt. Dolorum dignissimos ducimus rerum vero <br> eius, nobis pariatur doloremque porro quam! Lorem ipsum, <br> dolor sit amet consectetur adipisicing elit. Deserunt, <br>iusto! Impedit quasi similique iure saepe laboriosam <br> rerum, recusandae vel illo ipsum maiores, accusamus delectus <br> eaque nulla nesciunt provident? Quam, aliquid.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Libero quo quas enim fugiat vitae quia sit. Officia deleniti id, <br> fuga at odit libero quibusdam omnis, perferendis dolorem, <br> sint itaque ipsam? Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Magni laudantium voluptates, molestias <br> culpa alias necessitatibus expedita rerum, placeat <br> eveniet obcaecati cupiditate repellat reiciendis dolores ullam <br> vitae voluptatem perspiciatis, voluptatum optio.
      div
        img(src="/public/images/hero-bg.jpg", alt="Default")