doctype html
html
  head
    title MalJust Template
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="admin")
      a(href="/" class="brand-logo" id="admin-logo") 
        b MalJusT Template
    div(id="form")
      form
        b 
          a(href="/" id="close") X
        br
        input(type="email", placeholder="Recovery email" class="input")
        br
        input(type="password", placeholder="new password" class="input")
        br
        input(type="password", placeholder="confirm password" class="input")
        br
        input(type="submit" value="Renew password" class="submit")
        <br>
        <br>
        a(href="/newPassword" class="forgotPassword") Add another account 

block content