doctype html
html
  head
    title MalJust Template
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    div(class="admin")
      a(href="/" class="brand-logo" id="admin-logo") 
        b MalJusT Template
    div(id="form")
      form
        b 
          a(href="/" id="close" class="material-icons") close
        br
        input(type="email", placeholder="User ID" class="input" autofocus required)
        br
        input(type="password", placeholder="new password" class="input" id="password1" required)
        br
        input(type="password", placeholder="confirm password" class="input" id="password2" required)
        br
        input(type="submit" value="Send Request" class="submit")
        <br>
        <br>
        a(href="/newPassword" class="forgotPassword")
          b.
            Add another account 
        script.
          password = document.getElementsByClassName('password');
          if(password1 === password2)
          {
            console.log("passwords do not match")
          }

block content