extends layout

block content
    div("sev-div") 
        div(class="service")
            div(class="service1")
                p(id="p1").
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Ipsum veritatis beatae dolorem et neque vitae delectus, <br> 
                    placeat labore magnam asperiores ratione corporis, eaque <br>quis perferendis iste! Est asperiores doloribus reprehenderit.<br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Praesentium nobis, sequi numquam consequuntur repellendus <br>
                    <br>voluptatum asperiores quia quibusdam pariatur, voluptas illo <br> mollitia in nostrum. Rem architecto nemo saepe sed omnis.<br>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim<br> delectus cum, deleniti nulla beatae assumenda, atque dolorem<br> 
                    voluptas recusandae, harum dicta ex ut exercitationem quia <br>nemo hic mollitia quibusdam quaerat.

        div(class="service")
            div(class="service2")
                p(id="p2").
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br> Ipsum veritatis beatae dolorem et neque vitae delectus, <br> 
                    placeat labore magnam asperiores ratione corporis, eaque <br>quis perferendis iste! Est asperiores doloribus reprehenderit.<br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Praesentium nobis, sequi numquam consequuntur repellendus <br>
                    <br>voluptatum asperiores quia quibusdam pariatur, voluptas illo <br> mollitia in nostrum. Rem architecto nemo saepe sed omnis.<br>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim<br> delectus cum, deleniti nulla beatae assumenda, atque dolorem<br> 
                    voluptas recusandae, harum dicta ex ut exercitationem quia <br>nemo hic mollitia quibusdam quaerat.
    