extends tlayout

block content
  div
    div 
      h1(id="about") Terms & Conditions
    div
      p.
          By using this service, you accept the terms of MalJusT .Inc. 
          If you do not accept these terms, do not use the MalJusT Ethereum Template 
          for management systems.<br>
          If you are a registered organization under the applicable laws in your region 
          with legal discrepancies between your country's laws 
          and those of MalJusT Inc's operating country, contact MalJust's help center before using 
          this service. Do not use this service for retail purposes before recieving an approval form 
          from MalJusT.

      //- img(src="/public/images/hero-bg.png", alt="default", srcset="") 