doctype html
html
  head
    title MalJusT Template
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    div(class="loader loader--hidden")
    header(class="header")
      div(class="brand")
        a(href="#" class="brand-logo") 
          b MalJusT Template
    //- script(src="../public/javascripts/main.js")
    block content

    //- include footer
