extends superlayout

block content
    div(id="sbody")
        div
            h1(class="welcome" style="text-shadow: 2px 2px #b83939") Institutions
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px #b83939") Registered Institutions
        div(id="sbody2") 
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Institude #1
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Institude #2
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Institude #3
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Institude #4
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Institude #5
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Institude #6
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Institude #7
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Institude #8
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Institude #9

        a(href="addInstitude" class="button") Add Institude