extends superlayout

block content
  div(id="sbody")
    h1(class="welcome" style="text-shadow: 2px 2px #b83939") Logs & Documentation
    h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px #b83939") Logs
      h3(class="welcome2") Please fill the form below to document all changes made
    form(action="logs_submit" class="votingForm" id="studentForm" method="post")
      input(type="text" placeholder="User ID" class="sInput" name="superID" autofocus required)
      label &nbsp;&nbsp;&nbsp; Date of entry &nbsp;&nbsp;
      input(type="date" class="sInput" name="dateOfEntry" value= "#{ date }")
      <br>
      input(type="number" placeholder="Clearance level" class="sInput" name="clearanceLevel" required)
      label &nbsp;&nbsp;&nbsp; Time of entry &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      input(type="time" class="sInput" name="timeOfEntry")
      <br>
      input(type="text" placeholder="User position/title" class="sInput" name="position" required)
      label &nbsp;&nbsp;&nbsp;&nbsp; Time of exit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      input(type="time" class="sInput" name="timeOfExit")
      
      <br>
      <br>  
      textarea(cols="55" rows="10" placeholder="Detailed information about all the modifications made are recorded here!" class="spublicStatement" name="documentation" required)
      <br> 
      input(type="submit" class="studentInput" class="ssubmit" id="submit")

    


    script.
      inputs = document.getElementsByClassName('studentInput');
      form = document.getElementById("studentForm");
      document.addEventListener('submit', ()=> {
        alert("Logged");
        inputs.value = null;
      })

      form = document.getElementById("publicStatement");
      button = document.getElementById("ssubmit");
      document.addEventListener('submit', ()=> {
        alert(form.value);
      });
