extends superlayout

block content
    div(id="sbody")
        div
            h1(class="welcome" style="text-shadow: 2px 2px #b83939") Nodes
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px #b83939") Registered Nodes
        div(id="sbody2") 
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Node #1
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Node #2
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Node #3
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Node #4
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Node #5
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Node #6
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Node #7
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Node #8
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Node #9

        a(href="addNode.jade" class="button") Add Node