extends superlayout

block content
    div(id="sbody")
        div
            h1(class="welcome" style="text-shadow: 2px 2px #b83939") Nodes
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px #b83939") Registered Nodes
        div
            p(id="text").