doctype html
html
  head
    title MalJust Template
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    //- script(src="/javascripts/mainForm.js") 
    div(id="logo") 
        div(class="loader loader--hidden")
            header(class="sheader")
                div(class="brand")
                    a(href="/" class="sbrand-logo") 
                        b MalJusT Template
    div(id="form")
      form(id="myform" action="/admin/adminHome" method="get" style="background-color: #bd7d7d69;")
        b 
          a(href="/" id="sclose" class='material-icons') close
        br
        input(type="password", placeholder="Private key" class="sinput" id="spassword" autofocus required)
        br
        input(type="submit" value="Submit" class="ssubmit" id="ssubmit")
        <br>
        script.
          password = document.getElementById("spassword");
          form = document.getElementById("myform");
          button = document.getElementById("ssubmit");
          var submits = 0;
          var attempts = 3;
          document.addEventListener('submit', ()=> {
            if(password.value !== 'superAdmin'){
              form.action = "#";
              password.value = null;
              submits++;
              attempts--;
              if(submits >= 3){
                alert("Too many atempts, access blocked!");
                button.setAttribute('disabled', true);
              }else{
                alert(`Incorrect: ${attempts} attemps remaining`);
              }
            }else {
              alert("                                                 Welcome!");
              form.action = "superAdminHome";
            }
          });

block content