doctype html
html
  head
    title MalJusT Template
    link(rel='stylesheet', href='/stylesheets/Superstyle.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    header(class="ssheader")
      div(class="brand")
        a(href="superAdminHome" class="sbrand-logo") 
          b MalJusT Template

      nav(class="nav is-active" id="nav")
        a(href="/super/users" class="nav-link" class="spath-nav") Users
        a(href="/super/nodes" class="nav-link" class="spath-nav") Nodes
        a(href="/super/institutions" class="nav-link" class="spath-nav") Institutions
        a(href="/super/logs&docs" class="nav-link" class="spath-nav") Logs & Docs
        a(href="/admin" class="nav-link" id="slogout" class='material-icons') logout
    //- script(src="../public/javascripts/main.js")
    block content

    //- include footer
