extends superlayout 

block content
   div(id="sbody")
        div 
            h1(id="sAbout") Super Administrator Panel
        div
            p(id="text").
                All Super Administrators should document any changes and logs made before signing out 
                regardless of how inconsequential they are, to protect the integrity of the platform's
                security. For queries relating to reset of admin accounts, only logs should be recorded 
                after receiving requests and prior to resolving the issues. For addition of new accounts,  
                full documentation is required prior to addition of the account. No changes 
                will take effect if the above requirements are not met for the mentioned  
                procedures. For any blocked super administrator account, resolutions will 
                be resolved offline, provided proper identification is presented.

            div(class="home")
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="#" style="text-Decoration: none; color: black;") Manage administrative users

                div(class="sHome2")
                    h1(class="swelcome") Active Nodes panel     

                div(class="sHome1")
                    h1(class="swelcome") Manage participating institutions    

                div(class="sHome2")
                    h1(class="swelcome") Logs & Documentation
                   