extends superlayout

block content
    div(id="sbody")
        div
            h1(class="welcome" style="text-shadow: 2px 2px #b83939") Users
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px #b83939") Administrative users
        div(id="sbody2") 
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Admin User #1
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Admin User #2
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Admin User #3
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Admin User #4
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Admin User #5
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Admin User #6
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Admin User #7
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Admin User #8
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="#" style="text-Decoration: none; color: black;") Admin User #9
        
        a(href="/super/addUser" class="button") Add User