/* Admin access styling */
.dd {
  position: relative;
  display: inline-block;
}

.dd-btn {
  /* padding: 15px; */
  text-align: center;
  background-color: #42464b;
  border: none;
  /* width: 300px; */
  color: #fff;
}

.dd-btn:hover {
  color: #00B7FF;
}

.dd-content {
  position: absolute;
  width: 110%;
  box-shadow: 0 18px 36px rgba(0, 0, 0, 0.60);
  height: 0px;
  transition: height 1s;
  overflow: hidden;
  background-color:#465b6e;
  text-align: left;
  border-radius: 10px;
}

.dd-link:hover {
  font-size: x-large;
  color: #00B7FF;
}

.dd:hover > .dd-content{
  position: absolute;
  height: 290px;
  padding-right: 15px;
  width: 110%;
}

.dd-content > a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: black;
  width: 120%;
}

/* End of admin access styling */

body {
  background-color: #42464b;
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#body {
  border-style: groove;
  border-color: #00B7FF;
  border-radius: 20px;
  margin-right: 70px;
  margin-left: 50px;
  padding-bottom: 40px;
  background-color: #71767c;
  box-shadow: 5px 4px #1c1c1d;
}

#Vbody {
  border-style: groove;
  border-color: #00B7FF;
  border-radius: 20px;
  margin-right: 70px;
  margin-left: 50px;
  background-color: #71767c;
  box-shadow: 5px 4px #1c1c1d;
}

#bodyText {
  border-style: groove;
  border-color: #00B7FF;
  border-radius: 20px;
  margin-right: 70px;
  margin-left: 50px;
  margin-top: 20px;
  padding-bottom: 40px;
  background-color: #a8b7c9;
  box-shadow: 5px 4px #1c1c1d;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Lucida Grande';
  color: #000000;
}

#bodyText:focus {
  border-color: #00B7FF;
}

#text {
  margin-left: 40px;
  margin-right: 40px;
  text-align: justify;
}

.admin {
  background-color: #42464b;
}

#admin {
  border-color:#00B7FF;
  border-style: solid;
  border-radius: 20px;
  font-size: xx-large;
  padding: 7px;
  background-color:#465b6e;
}

#admin:hover {
  font-size: 40px;
  color: #00B7FF;
  background-color:#59728a;
}

p {
  font-size: large;
  color: #000000;
  font-weight: 600;
}

#nav {
  font-size: large;
  border-radius: 10px;
  padding: 10px;
  border-width: 5px;
  padding-right: 40px;
  background-color: #42464b;
  color: #fff;
}

form {
  margin-top: 100px;
  text-align: center;
  font-size: x-large;
  border-style: solid;
  border-radius: 20px;
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: #53565a;
}

#form {
  margin-left: 450px;
  margin-right: 450px;
}

#close {
  margin-left: 350px;
  text-decoration: none;
  color: #000000;
  font-size: xx-large;
}

#close:hover {
  color:#00B7FF;
  font-size: 40px;
}

.input {
  background-color: #212529;
  font-size: x-large;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
}

.input:focus {
  border: #00B7FF;
  /* border-block-color: #00B7FF; */
  border-style: solid;
}

.submit {
  font-size: xx-large;
  margin-top: 10px;
  background-color: #212529;
  border-radius: 10px;
  border-style: solid;
}

.save {
  font-size: xx-large;
  margin-top: 10px;
  margin-left: 50px;
  background-color: #212529;
  border-radius: 10px;
  border-style: solid;
}

.submit:hover {
  color: #00B7FF;
}

.save:hover {
  color: #00B7FF;
}

#p1 {
  margin-left: 15px;
}

#p2 {
  margin-left: 15px;
  margin-bottom: auto;
} 

#p3 {
  margin-left: 15px;
}

#p4 {
  margin-left: 15px;
  margin-bottom: auto;
} 

#sev-link {
  margin-left: 160px;
  font-size: x-large;
  color: #00B7FF;
  padding-bottom: 10px;
  text-decoration: none;
}

#sev-link:hover {
  color: #80c8e4;
  font-size: 25px;
}

.service {
  margin-top: 30px;
  column-count: 2;
}

.service1 {
  border-style: solid;
  border-radius: 20px;
  margin-right: 70px;
  margin-left: 50px;
  background-color: #71767c;
  background-image: url("/public/images/hero-bg.jpg");
  box-shadow: 5px 4px #00B7FF;
}

.service2 {
  border-style: solid;
  border-radius: 20px;
  margin-right: 50px;
  margin-left: 70px;
  background-color: #71767c;
  padding-bottom: 10px;
  box-shadow: 5px 4px #1c1c1d;
}

.service3 {
  border-style: solid;
  border-radius: 20px;
  margin-right: 70px;
  margin-left: 50px;
  background-color: #71767c;
  background-image: url("/public/images/hero-bg.jpg");
  box-shadow: 5px 4px #1c1c1d;
}

.service4 {
  border-style: solid;
  border-radius: 20px;
  margin-right: 50px;
  margin-left: 70px;
  background-color: #71767c;
  padding-bottom: 10px;
  box-shadow: 5px 4px #00B7FF;
}

.home {
  column-count: 2;
}

.home1 {
  border-style: groove;
  border-color: #00B7FF;
  border-radius: 20px;
  margin-right: 50px;
  margin-left: 70px;
  background-color: #71767c;
  box-shadow: 5px 4px #1c1c1d;
  margin-bottom: 40px;
}

.home2 {
  border-style: groove;
  border-color: #00B7FF;
  border-radius: 20px;
  margin-right: 50px;
  margin-left: 70px;
  background-color: #71767c;
  padding-bottom: 10px;
  box-shadow: 5px 4px #1c1c1d;
}

/* start of navbar stylesheets */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

#about {
  text-shadow: 2px 2px #3994b8;
}

#contact {
  text-shadow: 2px 2px #3994b8;
}

.welcome {
  text-align: center;
  font-size: 40px;
  text-shadow: 2px 2px #3994b8;
  padding-bottom: 10px;
}

.forgotPassword {
  text-decoration: underline;
  color: #00B7FF;
}

.header {
  padding:0px 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #42464b;
}
/* Logo Section       */
.brand {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 20px 5px;

}
.brand-logo {
  font-family: lucida calligraphy;
  text-decoration: none;
  font-size: 45px;
  color: #7692ad;
  padding-left: 30px;
  /* text-shadow: 1px 1px #657d94; */
}

.brand-logo:hover {
  color: #88a4be;
  font-size: 46px;
}

/* End of Logo Section     */
/*    Nav links        */
.nav {
  background-color: #42464b;
  padding: 10px 30px;
}
.nav-link {
  text-decoration: none;
  display: block;
  padding:10px;
  margin-bottom: 5px;
}
.path-nav {
  font-weight: bold;
  color: #fff;
}

.path-nav:hover {
  color: #00B7FF;
  font-size: x-large;
}

.nav-link:hover {
  text-decoration:none;
  opacity: 0.9;
}
.is-active {
  display: none;
}
.nav-burger {
  position: fixed;
  right: 20px;
}
.nav-cancel{
  position: fixed;
  right: 260px;
}

.nav {
  position: fixed;
  right: 0;
}

@media (max-width: 767px) {
 .nav {
    height: 100vh;
    padding-top: 40px;
  }
}

/* Hide nav links on screens with width below 768px  */
@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .nav-burger {
    display: none;
  }

  /*  Desktop  Nav links        */
  .nav {
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    background-color: #fff;
  }
  .nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 20px 15px;
    color: #212529;
  }
  /*   End of Nav links        */
}


/*page loader */
/* .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #00B7FF;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from { transform: rotate(0turn)}
  to { transform: rotate(1turn)}
} */