body {
  background-color: #42464b;
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#body {
  padding-left: 50px;
}

#text {
  column-count: 2;
}

.admin {
  background-color: #42464b;
}

#admin {
  border-color:#00B7FF;
  border-style: solid;
  border-radius: 20px;
  font-size: xx-large;
  padding: 7px;
  background-color:#465b6e;
}

#admin:hover {
  font-size: 40px;
  color: #00B7FF;
}

p {
  font-size: large;
  color: #000000;
  font-weight: 600;
}

#nav {
  font-size: large;
  border-radius: 10px;
  padding: 10px;
  border-width: 5px;
  padding-right: 40px;
  background-color: #42464b;
  color: #fff;
}

form {
  margin-top: 100px;
  text-align: center;
  font-size: x-large;
  border-style: solid;
  border-radius: 20px;
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: #53565a;
}

#form {
  margin-left: 450px;
  margin-right: 450px;
}

#close {
  margin-left: 350px;
  text-decoration: none;
  color: #000000;
  font-size: xx-large;
}

.input {
  background-color: #212529;
  font-size: x-large;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
}

.submit {
  font-size: xx-large;
  margin-top: 10px;
  background-color: #212529;
  border-radius: 10px;
  border-style: solid;
}

.submit:hover {
  color: #00B7FF;
}

#p1 {
  margin-left: 15px;
}

#p2 {
  margin-left: 15px;
}

.service {
  margin-top: 30px;
}

.sev-div {
  column-count: 2;
  column-width: 20px;
}

.service1 {
  border-style: solid;
  border-radius: 20px;
  margin-right: 700px;
  margin-left: 50px;
  background-color: #71767c;
}

.service2 {
  border-style: solid;
  border-radius: 20px;
  margin-right: 50px;
  margin-left: 700px;
  background-color: #71767c;
}

.service3 {
  border-style: solid;
  border-radius: 20px;
  margin-right: 700px;
  margin-left: 50px;
  background-color: #71767c;
}
.service4 {
  border-style: solid;
  border-radius: 20px;
  margin-right: 700px;
  margin-left: 50px;
  background-color: #71767c;
}

/* start of navbar stylesheets */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url("/public/images/hero-bg.jpg");
}

.forgotPassword {
  text-decoration: underline;
  color: #00B7FF;
}

.header {
  padding:0px 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #42464b;
}
/* Logo Section       */
.brand {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 20px 5px;

}
.brand-logo {
  font-family: lucida calligraphy;
  text-decoration: none;
  font-size: 40px;
  color: #7692ad;
  padding-left: 30px;
}
/* End of Logo Section     */
/*    Nav links        */
.nav {
  background-color: #42464b;
  padding: 10px 30px;
}
.nav-link {
  text-decoration: none;
  display: block;
  padding:10px;
  margin-bottom: 5px;
}
.path-nav {
  font-weight: bold;
  color: #fff;
}

.path-nav:hover {
  color: #00B7FF;
  font-size: x-large;
}

.nav-link:hover {
  text-decoration:none;
  opacity: 0.9;
}
.is-active {
  display: none;
}
.nav-burger {
  position: fixed;
  right: 20px;
}
.nav-cancel{
  position: fixed;
  right: 260px;
}

.nav {
  position: fixed;
  right: 0;
}

@media (max-width: 767px) {
 .nav {
    height: 100vh;
    padding-top: 40px;
  }
}

/* Hide nav links on screens with width below 768px  */
@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .nav-burger {
    display: none;
  }

  /*  Desktop  Nav links        */
  .nav {
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    background-color: #fff;
  }
  .nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 20px 15px;
    color: #212529;
  }
  /*   End of Nav links        */
}
