body {
  background-color: #42464b;
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#body {
  padding-left: 50px;
}

#text {
  column-count: 2;
}

.admin {
  background-color: #42464b;
}

#admin {
  border-color:#00B7FF;
  border-style: solid;
  border-radius: 20px;
  font-size: xx-large;
  padding: 7px;
  background-color:#465b6e;
}

p {
  font-size: large;
  color: #000000;
  font-weight: 600;
}

#nav {
  font-size: large;
  border-radius: 10px;
  padding: 10px;
  border-width: 5px;
  padding-right: 40px;
  background-color: #42464b;
  color: #fff;
}


/* start of navbar stylesheets */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url("/public/images/hero-bg.jpg");
}

.header {
  padding:0px 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #42464b;
}
/* Logo Section       */
.brand {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 20px 5px;

}
.brand-logo {
  font-family: lucida calligraphy;
  text-decoration: none;
  font-size: 40px;
  color: #7692ad;
  padding-left: 30px;
}
/* End of Logo Section     */
/*    Nav links        */
.nav {
  background-color: #42464b;
  padding: 10px 30px;
}
.nav-link {
  text-decoration: none;
  display: block;
  padding:10px;
  margin-bottom: 5px;
}
.path-nav {
  font-weight: bold;
  color: #fff;
}
.nav-link:hover {
  text-decoration:none;
  opacity: 0.9;
}
.is-active {
  display: none;
}
.nav-burger {
  position: fixed;
  right: 20px;
}
.nav-cancel{
  position: fixed;
  right: 260px;
}

.nav {
  position: fixed;
  right: 0;
}

@media (max-width: 767px) {
 .nav {
    height: 100vh;
    padding-top: 40px;
  }
}

/* Hide nav links on screens with width below 768px  */
@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
  }
  .nav-burger {
    display: none;
  }

  /*  Desktop  Nav links        */
  .nav {
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    background-color: #fff;
  }
  .nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 20px 15px;
    color: #212529;
  }
  /*   End of Nav links        */
}
