extends slayout

block content
  div(id="Vbody")
    h1(class="welcome") Welcome to MalJusT Student Registration
    h3(class="welcome2") Please fill the form below to register
    form(action="#" class="studentForm" id="studentForm")
      input(type="text" placeholder="First Name" class="studentInput" autofocus required)
      <br> 
      input(type="text" placeholder="Last Name" class="studentInput" required)
      <br> 
      input(type="text" placeholder="Student #" class="studentInput" required) 
      <br>
      label Enrolment Date
      input(type="date" placeholder="Date of Birth" class="studentInput" required) 
      <br>
      input(type="text" placeholder="Programme" class="studentInput" required) 
      <br>
      input(type="number" placeholder="Year of study" class="studentInput" required) 
      <br>
      input(type="number" placeholder="# of modules" class="studentInput" required) 
      <br>
      input(type="text" placeholder="Modules to be repeated" class="studentInput" required) 
      <br>
      label Full time enrolled 
      input(type="checkbox" placeholder="Full time enrol" class="studentInput")
      
      <br>
      div(class='file-upload')
        input(type="file", name="myFile", id="myFile" class="file-upload__input" required)
        button(type="button" class="file-upload__button") Upload results
        span(class="file-upload__label") No file selected
        script.
          Array.prototype.forEach.call(document.querySelectorAll('.file-upload__button'), function (button) {
            const hiddenInput = button.parentElement.querySelector('.file-upload__input');
            const label = button.parentElement.querySelector('.file-upload__label');
            const defaultLabelText = "No file selected";

            //set default text for label
            label.textContext = defaultLabelText;
            label.title = defaultLabelText;

            button.addEventListener('click', function () {
              hiddenInput.click();
            })

            hiddenInput.addEventListener('change', function() {
              const filenameList = Array.prototype.map.call(hiddenInput.files, function (file) {
                return file.name;
              });

              label.textContent = filenameList || defaultLabelText;
              label.title = label.textContent;
            })

          }); //For internet explorer support
          //- document.querySelectorAll('.file-upload__button').forEach();
      <br>
      <br> 
      input(type="submit" class="studentInput" class="submit" id="submit")
    script.
      inputs = document.getElementByClassName('studentInput');
      form = document.getElementById("studentForm");
      document.addEventListener('submit', ()=> {
        alert("Registered");
        inputs.value = null;
      })