doctype html
html
  head
    title MalJusT Template
    link(rel='stylesheet', href='/stylesheets/sstyle.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    header(class="header")
      div(class="brand")
        a(href="/studentReg/shome" class="brand-logo") 
          b MalJusT Student Registration
          //- img(src="y-themes-logo-blue.png" alt="" width="100px")
        div(class="nav-burger" id="nav-burger")
          img(src="hamburger-button.png" alt="Menu")
        div(class="nav-cancel is-active" id="nav-cancel")
          img(src="cancel-button.png" alt="Cancel")

      nav(class="nav is-active" id="nav")
        a(href="/studentReg/sservices" class="nav-link" class="path-nav") Services
        a(href="/studentReg/sabout" class="nav-link" class="path-nav") About
        a(href="/studentReg/scontact" class="nav-link" class="path-nav") Contact
        a(href="/admin/adminHome" class="nav-link" id="admin" class="material-icons") home
    script(src="../public/javascripts/main.js")
    block content

    //- include footer
