extends slayout

block content
    div(id="sbody")
        div
            h1(class="welcome" style="text-shadow: 2px 2px orange") Registered Students
            div(id="sbody2") 
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#1" style="text-Decoration: none; color: black;") Student #1
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#2" style="text-Decoration: none; color: black;") Student #2
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#3" style="text-Decoration: none; color: black;") Student #3
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#4" style="text-Decoration: none; color: black;") Student #4
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#5" style="text-Decoration: none; color: black;") Student #5
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#6" style="text-Decoration: none; color: black;") Student #6
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#7" style="text-Decoration: none; color: black;") Student #7
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#8" style="text-Decoration: none; color: black;") Student #8
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#9" style="text-Decoration: none; color: black;") Student #9
        
        a(href="#" class="button") Remove student