extends vlayout

block content
  div(id="Vbody")
    h1(class="welcome") Welcome to the MalJusT Voting System
      textarea(rows="11" cols="89" placeholder="Type your Voting system home page information here..." id="bodyText")
      button(class="save") Save
