extends vlayout

block content
  div(id="Vbody")
    h1(class="welcome") Welcome to the MalJusT Voting System
    h2(contenteditable="true" class="welcome3" style="font-size: 30px" ) Institute name(Editable)
      h3(class="welcome2") Please fill the form below to register for the election as a candidate
    form(action="/vHome" class="votingForm" id="studentForm" method="get")
      input(type="text" placeholder="Candidate First Name" class="studentInput" autofocus required)
      label &nbsp;&nbsp;&nbsp;
      input(type="text" placeholder="Candidate Last Name" class="studentInput" required)
      <br>
      input(type="text" placeholder="Candidate Department" class="studentInput" required)
      label &nbsp;&nbsp;&nbsp;
      input(type="number" placeholder="# of years in the company" class="studentInput" required)
      <br>
      input(type="text" placeholder="Previous position" class="studentInput" required)
      label &nbsp;&nbsp;&nbsp;
      input(type="text" placeholder="Candidate position/title" class="studentInput" required)
      <br>
      <br>  
      textarea(cols="55" rows="10" placeholder="Add your statement to the public as a candidate here....(50 Words)" class="publicStatement" required)
      <br>First time candidate 
      input(type="checkbox" placeholder="Full time enrol" class="studentInput")
      <br>
      div(class='file-upload')
        input(type="file", name="myFile", id="myFile" class="file-upload__input" required)
        button(type="button" class="file-upload__button") Written statement
        span(class="file-upload__label") No file selected
        script.

          publicStatement = document.querySelector('.publicStatement');
          

          Array.prototype.forEach.call(document.querySelectorAll('.file-upload__button'), function (button) {
            const hiddenInput = button.parentElement.querySelector('.file-upload__input');
            const label = button.parentElement.querySelector('.file-upload__label');
            const defaultLabelText = "No file selected";

            //set default text for label
            label.textContext = defaultLabelText;
            label.title = defaultLabelText;
            button.addEventListener('click', function () {
              hiddenInput.click();
            })

            hiddenInput.addEventListener('change', function() {
              const filenameList = Array.prototype.map.call(hiddenInput.files, function (file) {
                return file.name;
              });

              label.textContent = filenameList || defaultLabelText;
              label.title = label.textContent;
            })
            

          });
          
           //For internet explorer support
            //- document.querySelectorAll('.file-upload__button').forEach();
      <br>
      <br> 
      input(type="submit" class="studentInput" class="submit" id="submit")
    script.
      inputs = document.getElementsByClassName('studentInput');
      form = document.getElementById("studentForm");
      document.addEventListener('submit', ()=> {
        alert("Registered");
        inputs.value = null;
      })

      form = document.getElementById("publicStatement");
      button = document.getElementById("submit");
      document.addEventListener('submit', ()=> {
        alert(form.value);
      });
      

