extends vlayout

block content
  div(id="Vbody")
    h1(class="welcome") Welcome to the MalJusT Voting System
      form(action="#" class="studentForm" id="studentForm")
        input(type="text" placeholder="Candidate First Name" class="studentInput" required)
        <br> 
        input(type="text" placeholder="Candidate Last Name" class="studentInput" required)
        <br> 
        input(type="text" placeholder="Candidate Nationality" class="studentInput" required) 
        <br>
        label Arrival Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp
        input(type="date" placeholder="Date of Birth" class="studentInput" required) 
        <br>
        label Departure Date
        input(type="date" placeholder="Date of Birth" class="studentInput" required) 
        <br>
        input(type="number" placeholder="# of weeks to stay" class="studentInput" required) 
        <br>
        input(type="number" placeholder="# of places to visit" class="studentInput" required) 
        <br>
        input(type="text" placeholder="Primary place of interest" class="studentInput" required) 
        <br>
        label International Tourist 
        input(type="checkbox" placeholder="Full time enrol" class="studentInput")
      
        <br>
        div(class='file-upload')
          input(type="file", name="myFile", id="myFile" class="file-upload__input" required)
          button(type="button" class="file-upload__button") Identity documents
          span(class="file-upload__label") No file selected
          script.
            Array.prototype.forEach.call(document.querySelectorAll('.file-upload__button'), function (button) {
              const hiddenInput = button.parentElement.querySelector('.file-upload__input');
              const label = button.parentElement.querySelector('.file-upload__label');
              const defaultLabelText = "No file selected";

            //set default text for label
              label.textContext = defaultLabelText;
              label.title = defaultLabelText;

              button.addEventListener('click', function () {
                hiddenInput.click();
              })

              hiddenInput.addEventListener('change', function() {
                const filenameList = Array.prototype.map.call(hiddenInput.files, function (file) {
                  return file.name;
                });

                label.textContent = filenameList || defaultLabelText;
                label.title = label.textContent;
              })

            }); //For internet explorer support
            //- document.querySelectorAll('.file-upload__button').forEach();
        <br>
        <br> 
        input(type="submit" class="studentInput" class="submit" id="submit")
      script.
        inputs = document.getElementByClassName('studentInput');
        form = document.getElementById("studentForm");
        document.addEventListener('submit', ()=> {
          alert("Registered");
          inputs.value = null;
        })

