doctype html
html
  head
    title MalJusT Template
    link(rel='stylesheet', href='/stylesheets/vstyle.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    header(class="header")
      div(class="brand")
        a(href="/voting/vHome" class="brand-logo") 
          b MalJusT Voting System

      nav(class="nav is-active" id="nav")
        a(href="/voting/vServices" class="nav-link" class="path-nav") Candidates
        a(href="/voting/vAbout" class="nav-link" class="path-nav") About
        a(href="/voting/vContact" class="nav-link" class="path-nav") Contact
        a(href="/admin/adminHome" class="nav-link" id="admin" class="material-icons").
            home
    //- script(src="../public/javascripts/main.js")
    block content

    //- include footer
