extends vlayout

block content
  div(id="Vbody")
    div(class="Vbody1")
      h1(class="welcome") Candidates
        div(id="sbody2") 
          div(class="sHome1")
            h1(class="swelcome" id="demo") 
              a(href="#" style="text-Decoration: none; color: black;") Candidate #1
          div(class="sHome1")
            h1(class="swelcome" id="demo") 
              a(href="#" style="text-Decoration: none; color: black;") Candidate #2
          div(class="sHome1")
            h1(class="swelcome" id="demo") 
              a(href="#" style="text-Decoration: none; color: black;") Candidate #3
          div(class="sHome1")
            h1(class="swelcome" id="demo") 
              a(href="#" style="text-Decoration: none; color: black;") Candidate #4
          div(class="sHome1")
            h1(class="swelcome" id="demo") 
              a(href="#" style="text-Decoration: none; color: black;") Candidate #5
          div(class="sHome1")
            h1(class="swelcome" id="demo") 
              a(href="#" style="text-Decoration: none; color: black;") Candidate #6
    div(class="Vbody1")
      div(id="Vbody2")
        h1(class="welcome") Vote Here!
        h3(class="welcome2") Please fill the form below to vote
        form(action="/vHome" class="votingForm" id="studentForm" method="get")
          input(type="text" placeholder="Voter ID Number" class="studentInput" required)
          input(type="text" placeholder="Candidate #" class="studentInput" required)
          <br>
          input(type="text" placeholder="Position" class="studentInput" required)
          <br>
          <br> 
          input(type="submit" class="studentInput" class="Vsubmit" id="submit")

