extends vlayout 

block content
    div(id="Vbody")
        div
            h1(class="welcome2" style="font-size: 45px; text-shadow: 2px 2px white;") #{ fName }'s profile update!
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px blue;") Owner: #{ owner }
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px blue;") nodeID: #{ nodeID }
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px blue;") Authorized by: #{ superID }
        div
            p(id="text").