extends tlayout

block content
  div(id="Vbody")
    h1(class="welcome") Reach out
      textarea(rows="11" cols="89" placeholder="Type your contact information here..." id="bodyText")
      button(class="save") Save
