extends tlayout

block content
  div(id="Vbody")
    h1(class="welcome") Welcome to MalJusT Tourism Management
      textarea(rows="11" cols="89" placeholder="Type your Tourism management home page information here..." id="bodyText")
      button(class="save") Save
