doctype html
html
  head
    title MalJusT Template
    link(rel='stylesheet', href='/stylesheets/tstyle.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    header(class="header")
      div(class="brand")
        a(href="/tourismMan/tHome" class="brand-logo") 
          b MalJusT Tourism Management

      nav(class="nav is-active" id="nav")
        a(href="/tourismMan/tLogin" class="nav-link" class="path-nav") Tourists
        a(href="/tourismMan/tServices" class="nav-link" class="path-nav") Services
        a(href="/tourismMan/tAbout" class="nav-link" class="path-nav") About
        a(href="/tourismMan/tContact" class="nav-link" class="path-nav") Contact
        a(href="/admin/adminHome" class="nav-link" id="admin" class="material-icons") home
    script(src="/javascripts/main.js")
    block content

    //- include footer
