extends tlayout

block content
    div(id="Vbody" style="border-color: grey;")
        div
            h1(class="welcome" style="text-shadow: 2px 2px grey") Tourists
            div(id="sbody2") 
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#1" style="text-Decoration: none; color: black;") #{ tname1 }
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#2" style="text-Decoration: none; color: black;") Tourist #2
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#3" style="text-Decoration: none; color: black;") Tourist #3
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#4" style="text-Decoration: none; color: black;") Tourist #4
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#5" style="text-Decoration: none; color: black;") Tourist #5
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#6" style="text-Decoration: none; color: black;") Tourist #6
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#7" style="text-Decoration: none; color: black;") Tourist #7
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#8" style="text-Decoration: none; color: black;") Tourist #8
                div(class="sHome1")
                    h1(class="swelcome" id="demo") 
                        a(href="/super/profile/:User#9" style="text-Decoration: none; color: black;") Tourist #9
        
        a(href="#" class="button") Remove tourist
        br
        br
        br